.footer {
    position: absolute;
    bottom: 0;
    height: 46px;
    width: 100%;
    clear: both;
    background-color: #2f364a;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.footer-nav {
    height: 100%;
    float: right;
}
.footer-nav__menu-item {
    float: left;
    color: #fff;
    font-size: 13px;
    padding: 15px;
    height: 100%;
    z-index: 10;
}
.footer-nav__menu-item-icon {
    padding: 0 10px;
    z-index: 999;
}
.footer-nav__menu-item:hover {
    background-color: #15a4fa;
    cursor: pointer;
    color: #fff;
}